################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JSCritters/FileContentIndex
/.vs/JSCritters/v17
/.vs
